{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h2>Not implemented yet</h2>
        </div>
    </div>
{% endblock %}